[submodule "imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-filebrowser"]
	path = deps/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "implot"]
	path = deps/implot
	url = https://github.com/epezent/implot
[submodule "box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d
[submodule "OpenSimplexNoise"]
	path = deps/OpenSimplexNoise
	url = https://github.com/deerel/OpenSimplexNoise
[submodule "lz4"]
	path = deps/lz4
	url = https://github.com/lz4/lz4
[submodule "assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "bgfx.cmake"]
	path = deps/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json
