[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-filebrowser"]
	path = imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "box2d"]
	path = box2d
	url = https://github.com/erincatto/box2d
[submodule "OpenSimplexNoise"]
	path = OpenSimplexNoise
	url = https://github.com/deerel/OpenSimplexNoise
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "bgfx.cmake"]
	path = bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake
