[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "imgui-filebrowser"]
	path = imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot
[submodule "Jinx"]
	path = Jinx
	url = https://github.com/JamesBoer/Jinx
